<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Gold Frame{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/game.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/hero.css" />
{% if gamecss %}
    <link type="text/css" rel="stylesheet" href="{{ gamecss }}" />
{% endif %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.8.16.smoothness.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.tache.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="/javascript/game.js"></script>
{% if gamejs %}
    <script type="text/javascript" src="{{ gamejs }}"></script>
{% endif %}
{% block head_includes %}{% endblock %}
</head>
<body>
{% block header %}
{% endblock %}

<div class="gamewrapperDiv">
{% block content %}{% endblock %}
</div>

{% block footer %}
{% endblock %}
</body>
</html>
