<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gold Quest</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/hero.css" />
</head>
<body>
    <div id="logoDiv"><a href="/"><img src="/images/coinstack.png" width="256" height="256" alt="" /></a></div>
    <div id="contentDiv">
{{ content }}
    </div>
    <div id="footerDiv">
      get the source code on GitHub : <a href="http://github.com/ollej/GoldQuest">ollej/GoldQuest</a>
    </div>
</body>
</html>
