<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Gold Frame{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/hero.css" />
{% block head_includes %}{% endblock %}
</head>
<body>
{% block header %}
    <div id="logoDiv"><a href="/"><img src="/images/goldframe/coinstack.png" width="256" height="256" alt="" /></a></div>
{% endblock %}
    <div id="contentDiv">
{% block content %}{% endblock %}
    </div>
{% block footer %}
    <div id="footerDiv">
      get the source code on GitHub : <a href="http://github.com/ollej/GoldQuest">ollej/GoldQuest</a>
    </div>
{% endblock %}
</body>
</html>
