<script type="text/javascript">
$(document).ready(function() {
    var appIconTmpl = $('#appiconTemplate').html();

    function onAppList(data, textStatus, jqXhr) {
        if (!data) return;
        $.each(data['games'], function(i, item) {
            var html, gameName;
            if (item == 'goldapps') return;
            //html = '<img src="images/icon-' + item + '.png" class="appIcon" alt="' + item + '" title="' + item + '" />';
            html = $.tache(appIconTmpl, { 'gameKey': item, 'gameName': item });
            $('#appsDiv').append(html);
        });
    }

    $.ajax({
        url: '/api/applist',
        data: {},
        headers: { 
            'Accept': 'application/json',
            'Content-Type': 'text/plain; charset=utf-8'
        },
        dataType: 'json',
        success: onAppList
    });

    $('.appIcon').live('click', function(ev) {
        var game = $(ev.target).attr('title');
        if (game) {
            document.location = '?game=' + game;
        }
        return false;
    });
});
</script>
<style type="text/css">
#heroDiv h1 {
  padding-top: 10px;
  text-align: center;
}
div.appIconDiv {
  float: left;
  width: 68px;
  height: 48px;
  margin: 5px 1px 10px 1px;
  text-align: center;
  cursor: pointer;
}
.appIconDiv a {
  text-decoration: none;
}
.appIconDiv img {
  width: 32px;
  height: 32px;
}
.appIconDiv:hover {
}
.appIconText {
  width: 64px;
  margin: 2px 2px;
  font-family: Arial,"Helvetica Neue",sans-serif; font-size: 9px; line-height: 9px; color: #444;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
</style>
  <div id="mainDiv">
    <div id="heroDiv" class="heroEl">
      <h1>Gold Apps</h1>
    </div>
    <div id="contentDiv">
    <br /> <br /><br />
      <div id="appsDiv">
      </div>
      <div id="actionsDiv">
        <ul id="actionList"></ul>
      </div>
    </div>
    <div id="taskbarWrapper">
      <div id="taskbarContainer">
        <div id="taskbarDiv">
        </div>
      </div>
    </div>
  </div>
{% autoescape off %}
  <div id="charsheetTemplate" style="display: none">
{{ template_charsheet }}
  </div>
  <div id="actionlineTemplate" style="display: none">
{{ template_actionline }}
  </div>
  <div id="actionbuttonTemplate" style="display: none">
{{ template_actionbutton }}
  </div>
  <div id="appiconTemplate" style="display: none">
    <div class="appIconDiv">
        <a href="#" title="[[ gameKey ]]">
            <img src="images/icon-[[ gameKey ]].png" class="appIcon" alt="[[ gameKey ]]" title="[[ gameKey ]]" /><br />
            <p class="appIconText">[[ gameName ]]</p>
        </a>
    </div>
  </div>
{% endautoescape %}
<script type="text/javascript">
    var gameKey = '{{ gamekey }}';
{% if channel_client_id %}
{% include "broadcast_values_js.html" %}
{% endif %}
</script>
