{% extends layout %}

{% block title %}Gold Apps{% endblock %}

{% block head_includes %}
{% endblock %}

{% block content %}
  <div id="mainDiv">
    <div id="heroDiv" class="heroEl">
      <h1>Gold Apps</h1>
    </div>
    <div id="contentDiv">
    <br /> <br /><br />
      <div id="appsDiv">
      </div>
      <div id="actionsDiv">
        <ul id="actionList"></ul>
      </div>
    </div>
    <div id="taskbarWrapper">
      <div id="taskbarContainer">
        <div id="taskbarDiv">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% goldframe_templates templates %}
{% autoescape off %}
<script id="appiconTemplate" type="text/x-goldframe-template">
    <div class="appIconDiv">
        <a href="#" title="[[ gameKey ]]">
            <img src="images/[[ gameKey ]]/icon-[[ gameKey ]].png" class="appIcon" alt="[[ gameKey ]]" title="[[ gameKey ]]" /><br />
            <p class="appIconText">[[ gameName ]]</p>
        </a>
    </div>
</script>
{% endautoescape %}
<script type="text/javascript">
    var gameKey = '{{ gamekey }}';
{% if channel_client_id %}
{% include "broadcast_values_js.html" %}
{% endif %}
</script>
{% endblock %}
