<h1>About Gold Quest</h1>
<p>A simple multi-user co-op text based dungeon quest game with multiple client options.</p>

<h2>Playing Gold Quest</h2>
<p>The object of Gold Quest is to collect as much gold as possible while traversing a
dungeon filled with monsters. All players control the same hero and will see the results
of the actions by all other players.</p>

<p>Available actions: <code>fight</code>, <code>loot</code>, <code>deeper</code>, <code>rest</code>, <code>stats</code>, <code>reroll</code></p>

<h2>Multiple Clients</h2>
<p>There are several different ways of playing Gold Quest, as there are a number of
different game clients available. Some clients are stand-alone while others share the
same database.</p>

<h3>Gold Quest Web</h3>
<p>The web version of Gold Quest allows players from anywhere to easily play Gold Quest by simpling clicking on buttons for each action.</p>

<p>There is also a list of the top 10 heroes of all time on the web version available.</p>

<p>The Gold Quest Web basically just uses the Gold Quest Widget, but also has some extra options.</p>

<p>Visit Gold Quest Web here: <a href="http://gold-quest.appspot.com/">http://gold-quest.appspot.com</a></p>

<h3>Gold Quest Mobile</h3>
<p>There is a version of Gold Quest that is optimized to run on mobile devices such as iPhone and Android. Just visit the page linked below and bookmark it to your homepage to play on the go.</p>

<p>Visit Gold Quest Mobile: <a href="http://gold-quest.appspot.com/mobile.html">http://gold-quest.appspot.com/mobile.html</a></p>

<h3>Gold Quest Android App</h3>
<p>For Android users there is a downloadable app to easily play the game.</p>

<a href="http://market.android.com/details?id=com.jxdevelopment.goldquest">
  <img src="http://www.android.com/images/brand/45_avail_market_logo2.png"
       alt="Available in Android Market" />
</a>

<h3>Gold Quest Widget</h3>
<p>The <a href="http://gold-quest.appspot.com/widget.html">Gold Quest Widget</a> is a widget that can be installed on any web page. It uses the 
<a href="http://gold-quest.appspot.com/api.html">Gold Quest API</a> to connect to the 
Gold Quest in the cloud.</p>

<h3>Gold Quest Telnet Server</h3>
<p>The Gold Quest code also contains a telnet server which can be set up to allow players
to connect to the game via a telnet client.</p>

<p>There is currently no telnet server publically available.</p>

<h3>Gold Quest Twitter</h3>
<p>It is possible to play Gold Quest by mentioning the different commands to the Twitter
account <a href="http://twitter.com/Gold_Quest">@Gold_Quest</a> and the result of the action
will be tweeted out.</p>

<p>The Twitter version is currently a stand-alone game with its own hero.</p>

<h3>Gold Quest Command Line</h3>
<p>There is a command line version of Gold Quest available that allows players to 
play the game at home using a command line interface.</p>

<p>The command-line interface is also stand-alone, meaning only the person running the client
will control the hero.</p>

<h3>Gold Quest Chat</h3>
<p>Gold Quest is also available to be played in a chat environment. This is done via a plugin
to the chat bot <a href="http://github.com/ollej/shoutbridge">Shoutbridge</a>. This supports
Jabber/XMPP clients as well as UBB.threads forum system shoutbox.</p>


