{% extends layout %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div id="mainDiv">
    <div id="heroDiv" class="heroEl">
    </div>
    <div id="contentDiv">
      <div id="actionsDiv">
        <ul id="actionList"></ul>
      </div>
    </div>
    <div id="taskbarWrapper">
      <div id="taskbarContainer">
        <div id="taskbarDiv">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% autoescape off %}
  <div id="charsheetTemplate" style="display: none">
{{ template_charsheet }}
  </div>
  <div id="actionlineTemplate" style="display: none">
{{ template_actionline }}
  </div>
  <div id="actionbuttonTemplate" style="display: none">
{{ template_actionbutton }}
  </div>
  <div id="extrainfoTemplate" style="display: none">
{{ template_extrainfo }}
  </div>
{% endautoescape %}
<script type="text/javascript">
    var gameKey = '{{ gamekey }}';
{% if channel_client_id %}
{% include "broadcast_values_js.html" %}
{% endif %}
</script>
{% endblock %}
