  <div id="mainDiv">
    <div id="heroDiv" class="heroEl">
    </div>
    <div id="contentDiv">
      <div id="actionsDiv">
        <ul id="actionList"></ul>
      </div>
    </div>
    <div id="taskbarWrapper">
      <div id="taskbarContainer">
        <div id="taskbarDiv">
{% for action in actions %}
    {% if action.img %}
    <div id="{{ action.key }}Div" class="taskDiv"><button id="{{ action.key }}Btn" name="{{ action.key }}" class="commandBtn" style="background: url({{ action.img }}) no-repeat center center"><a href="#{{ action.key }}Task" class="taskHover"><img src="/images/icon-hover.png" width="32" height="32" alt="" style="visibility: hidden" /></a></button></div>
    {% endif %}
{% endfor %}
        </div>
      </div>
    </div>
  </div>
{% autoescape off %}
  <div id="charsheetTemplate" style="display: none">
{{ template_charsheet }}
  </div>
  <div id="actionlineTemplate" style="display: none">
{{ template_actionline }}
  </div>
{% endautoescape %}
<script type="text/javascript">
    var gameKey = '{{ gamekey }}';
{% if channel_client_id %}
{% include "broadcast_values_js.html" %}
{% endif %}
</script>
