<h1>Heroes</h1>
<p>The best gold collecting heroes of all time.</p>
<ol>
{% for hero in heroes %}
<li><b>{{ hero.name }}</b>
    Gold: {{ hero.gold }}
    Kills: {{ hero.kills }}
    Level: {{ hero.level }}
    Hurt: {{ hero.hurt }}
    Strength: {{ hero.strength }}
    Health: {{ hero.health }}
    Alive: {% if hero.alive %}yes{% else %}no{% endif %}
{% endfor %}
</ol>

<h2>Statistics</h1>
<ul>
    <li>Gold collected: <b>{{ gold }}</b></li>
    <li>Total kills: <b>{{ kills }}</b></li>
    <li>Maxiumum level: <b>{{ level }}</b></li>
    <li>Total heroes: <b>{{ hero_count }}</b></li>
</ul>
