{% extends layout %}

{% block content %}
<h1>Heroes</h1>
<p>The best gold collecting heroes of all time.</p>
<ol id="heroesList">
{% for hero in heroes %}
<li class="heroEl">
    <b class="nameValue">{{ hero.name }}</b>
    <ul class="charsheetList">
        <li class="statItem"><img src="/images/goldquest/tiny-icon-strength.png" width="16" height="16" alt="Strength" title="Strength" /><span class="statValue">{{ hero.strength }}</span></li>
        <li class="statItem"><img src="/images/goldquest/tiny-icon-health.png" width="16" height="16" alt="Health" title="Health" /><span class="statValue">{{ hero.current_health }}/{{ hero.health }}</span></li>
        <li class="statItem"><img src="/images/goldquest/tiny-icon-level.png" width="16" height="16" alt="Level" title="Level" /><span class="statValue">{{ hero.level }}</span></li>
        <li class="statItem"><img src="/images/goldquest/tiny-icon-kills.png" width="16" height="16" alt="Kills" title="Kills" /><span class="statValue">{{ hero.kills }}</span></li>
        <li class="statItem"><img src="/images/goldquest/tiny-icon-gold.png" width="16" height="16" alt="Gold" title="Gold" /><span class="statValue">{{ hero.gold }}</span></li>
        <li class="statItem">{% if not hero.alive %}(Deceased){% endif %}</li>
    </ul>
</li>
{% endfor %}
</ol>

<h2>Statistics</h2>
<ul>
    <li>Gold looted: <b>{{ gold }}</b></li>
    <li>Total kills: <b>{{ kills }}</b></li>
    <li>Maximum level: <b>{{ level }}</b></li>
    <li>Total heroes: <b>{{ hero_count }}</b></li>
</ul>
{% endblock %}
