<div id="commandDiv">
    <h1>Gold Quest</h1>
    <p>Available commands:</p>
    <ul>
        <li><a href="/heroes.html">List top heroes</a></li>
        <li><a href="/api/stats">Character Sheet</a></li>
        <li><a href="/api/fight">Fight</a></li>
        <li><a href="/api/loot">Loot</a></li>
        <li><a href="/api/deeper">Deeper</a></li>
        <li><a href="/api/rest">Rest</a></li>
        <li><a href="/api/reroll">Reroll</a></li>
    </ul>
</div>

<div id="gameDiv">
    <iframe src="/game.html" id="goldquestIframe" width="230" height="380" frameborder="0" scrolling="no" />
</div>
