<div id="commandDiv">
    <h1>Gold Quest</h1>
    <ul>
        <li><a href="/game/goldquest/heroes.html">List top heroes</a></li>
        <li><a href="/about.html">About Gold Quest</a></li>
        <li><a href="/api.html">Gold Quest API</a></li>
        <li><a href="/widget.html">Gold Quest Widget</a></li>
    </ul>
</div>

<div id="gameDiv">
    <iframe src="/game.html" id="goldquestIframe" name="goldquestIframe" width="280" height="420" frameborder="0" scrolling="no"></iframe>
</div>

<div id="gameSelectionDiv">
    <ul class="gameSelector">
        <li><a href="/game.html" target="goldquestIframe"><img src="images/icon-loot.png" alt="Gold Quest" title="Gold Quest" /></a></li>
        <li><a href="/game.html?game=assassinsgreed" target="goldquestIframe"><img src="images/icon-assassinate.png" alt="Assassin's Greed" title="Assassin's Greed" /></a></li>
        <li><a href="/game.html?game=goatclicker" target="goldquestIframe"><img src="images/icon-goat.png" alt="Goat Clicker" title="Goat Clicker" /></a></li>
        <li><a href="/game.html?game=dicey" target="goldquestIframe"><img src="images/icon-dicey.png" alt="Dicey" title="Dicey" /></a></li>
        <li><a href="/game.html?game=8ball" target="goldquestIframe"><img src="images/icon-8ball.png" alt="Magic 8-ball" title="Magic 8-ball" /></a></li>
    </ul>
</div>
