<h1>Gold Quest Widget</h1> 
 
<p>The Gold Quest Widget is a widget that can be inserted into any web page to
allow the visitors to the site to play the game.</p> 
 
<p>Currently all players on all sites will play the same hero, but there are plans to
allow site owners to authenticate and create their own hero. This would allow for
co-op within the site and friendly rivalry between sites.</p> 
 
<h2>Installation</h2> 
<p>The only thing you need to do is to place the following HTML code somewhere on your site.</p> 
 
<pre><code>&lt;iframe src="http://gold-quest.appspot.com/game.html" 
        id="goldquestIframe" 
        width="250" height="380" 
        frameborder="0" scrolling="no"&gt;&lt;/iframe&gt;
</code></pre>
