* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: Arial,"Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  color: #444;
}

#mainDiv {
  max-width: 320px;
  max-height: 480px;
}

#heroDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 2px 0px 3px;
  border-bottom: thin solid black;
  z-index: 1;
  overflow: hidden;
}

.statsImage {
  margin-left: -5px;
}

#heroDiv, #actionList li, #taskbarContainer, body {
  background: #d7d7d7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#d7d7d7');
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #ddd, #d7d7d7);
  background-image: -moz-linear-gradient(top, #ddd, #d7d7d7);
  background-image: -ms-linear-gradient(top, #ddd, #d7d7d7);
  background-image: -o-linear-gradient(top, #ddd, #d7d7d7);
  background-image: linear-gradient(top, #ddd, #d7d7d7);
}

#contentDiv {
  margin: 0;
  width: 100%;
}

#actionsDiv {
  height: 100%;
  width: 100%;
}

#actionList {
  width: 100%;
  padding-top: 42px;
  padding-bottom: 38px;
  overflow: auto;
  position: absolute;
  bottom: 0;
  list-style-type: none;
}

#actionList li {
  border-top: 1px solid #D1D1D1;
  text-shadow: 0 1px 1px #fff;
  padding: 3px 5px 5px 5px;
  font-family: Arial,"Helvetica Neue",sans-serif; font-size: 14px; line-height: 18px; word-wrap: break-word; color: #444;
  padding-left: 35px;
  text-indent: -24px;
}

#actionList li:nth-child(odd) {
}

#actionList li:nth-child(even) {
}

#actionList li.actionFight {
  list-style: none inside url(../images/tiny-icon-fight.png);
}

#actionList li.actionLoot {
  list-style: none inside url(../images/tiny-icon-gold.png);
}

#actionList li.actionDeeper {
  list-style: none inside url(../images/tiny-icon-level.png);
}

#actionList li.actionRest {
  list-style: none inside url(../images/tiny-icon-health.png);
}

#actionList li.actionReroll {
  list-style: none inside url(../images/tiny-icon-reroll.png);
}

#actionList li.ownAction {
  font-weight: bold;
}

#actionList .extraInfo {
  font-weight: bold;
}

#actionList .extraInfo.hurtInfo {
  color: #C30017;
}

#actionList .extraInfo.restInfo {
  color: #004C7B;
}

#actionList .extraInfo.lootInfo {
  color: #E9B700;
}

#actionList .extraInfo.levelInfo {
  color: #351E00;
}

#taskbarWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: thin solid black;
}

#taskbarContainer {
  height: 37px;
}

#taskbarDiv {
  position: relative;
}

.taskDiv {
  display: inline;
}

.taskDiv button {
  background: none;
  border: none;
  margin: 2px 0px 3px 0px;
}

.taskHover {
  display: block;
  width: 32px;
  height: 32px;
  background: none;
}

.taskHover:hover {
  background: url(/images/icon-hover.png) no-repeat center center;
}
