body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

#logoDiv {
  margin: -60px 0 0 0;
  padding: 0 20px 20px 20px;
  float: left;
  position: fixed;
  height: 100%;
}

#contentDiv {
  padding-left: 300px;
  float: left;
}

.actionLine {
  display: block;
}

#commandDiv {
  float: left;
}

#gameDiv {
  float: left;
  padding-top: 20px;
  padding-left: 40px;
}

#goldquestIframe {
  border: thin solid black;
}
